{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<h1>PROFIL</h1>

<div class="d-flex justify-content-center p-2">
    {{ form_start(form) }}
    {{ form_end(form) }}
</div>

{% endblock %}
